<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="carmove" displayName="Caribou Movement" version="1.0.7" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="carmove" displayName="Caribou Movement Model" isModel="True" isPrimary="True" previousNames="carep-model-transformer|caribou-energy-protein:model-transformer">
        <runtime>
          <transformer name="carmove:runtime"/>
        </runtime>
        <include>
          <transformer name="stime:maps"/>
        </include>
      </transformer>
      <transformer name="carmove:runtime" displayName="Caribou Movement Model" className="SyncroSim.CaribouMovement.Runtime" classAssembly="SyncroSim.CaribouMovement" configurationSheet="CM_RunControl">
        <datafeeds>
          <datafeed name="carmove:stratum-label-x-datafeed" displayName="Stratum Label X" dataScope="Project" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelX">
            <datasheets>
              <datasheet name="CM_StratumLabelX" displayName="Stratum Label X" valueMember="StratumLabelXID" displayMember="Name" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelX">
                <columns>
                  <column name="StratumLabelXID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String" fillWeight="10"/>
                  <column name="ID" dataType="Integer" isOptional="True" fillWeight="5"/>
                  <column name="Description" dataType="String" isOptional="True" fillWeight="20"/>
                </columns>
                <validations>
                  <validation validationType="UniqueOrNull" columns="ID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:stratum-label-y-datafeed" displayName="Stratum Label Y" dataScope="Project" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelY">
            <datasheets>
              <datasheet name="CM_StratumLabelY" displayName="Stratum Label Y" valueMember="StratumLabelYID" displayMember="Name" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelY">
                <columns>
                  <column name="StratumLabelYID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String" fillWeight="10"/>
                  <column name="ID" dataType="Integer" isOptional="True" fillWeight="5"/>
                  <column name="Description" dataType="String" isOptional="True" fillWeight="20"/>
                </columns>
                <validations>
                  <validation validationType="UniqueOrNull" columns="ID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:stratum-label-z-datafeed" displayName="Stratum Label Z" dataScope="Project" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelZ">
            <datasheets>
              <datasheet name="CM_StratumLabelZ" displayName="Stratum Label Z" valueMember="StratumLabelZID" displayMember="Name" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelZ">
                <columns>
                  <column name="StratumLabelZID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String" fillWeight="10"/>
                  <column name="ID" dataType="Integer" isOptional="True" fillWeight="5"/>
                  <column name="Description" dataType="String" isOptional="True" fillWeight="20"/>
                </columns>
                <validations>
                  <validation validationType="UniqueOrNull" columns="ID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:stratum-datafeed" displayName="Stratum" dataScope="Project">
            <datasheets>
              <datasheet name="CM_Stratum" displayName="Stratum" valueMember="StratumID" displayMember="Name">
                <columns>
                  <column name="StratumID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="StratumLabelXID" displayName="Stratum Label X" dataType="Integer" validationType="Datasheet" formula1="CM_StratumLabelX" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelX" allowDbNull="False"/>
                  <column name="StratumLabelYID" displayName="Stratum Label Y" dataType="Integer" validationType="Datasheet" formula1="CM_StratumLabelY" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelY" allowDbNull="False"/>
                  <column name="StratumLabelZID" displayName="Stratum Label Z" dataType="Integer" validationType="Datasheet" formula1="CM_StratumLabelZ" displayNameSource="CM_Terminology" displayNameColumn="StratumLabelZ" allowDbNull="False"/>
                  <column name="ID" dataType="Integer" isOptional="True"/>
                </columns>
                <validations>
                  <validation validationType="UniqueOrNull" columns="ID"/>
                  <validation validationType="Unique" columns="StratumLabelXID|StratumLabelYID|StratumLabelZID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:terminology-datafeed" displayName="Terminology" dataScope="Project">
            <datasheets>
              <datasheet name="CM_Terminology" displayName="Terminology" isSingleRow="True">
                <columns>
                  <column name="TerminologyID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="StratumLabelX" dataType="String" displayName="Stratum Label X"/>
                  <column name="StratumLabelY" dataType="String" displayName="Stratum Label Y"/>
                  <column name="StratumLabelZ" dataType="String" displayName="Stratum Label Z"/>
                  <column name="TimestepUnits" dataType="String" displayName="Timestep Units"/>
                </columns>
                <defaultRecords>
                  <record columns="StratumLabelX|StratumLabelY|StratumLabelZ|TimestepUnits" values="Vegetation Type|Climate Zone|Development|Years"/>
                </defaultRecords>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:run-control-datafeed" displayName="Run Control" dataScope="Scenario">
            <datasheets>
              <datasheet name="CM_RunControl" displayName="Run Control" isSingleRow="True">
                <columns>
                  <column name="RunControlID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="MinimumIteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MaximumIteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MinimumTimestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumTimestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="StartJulianDay" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" format="d"/>
                  <column name="EndYear" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="CalvingPeakJulianDay" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" format="d"/>
                  <column name="TotalIterations" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                </columns>
                <validations>
                  <validation validationType="LessEqual" columns="MinimumIteration|MaximumIteration"/>
                  <validation validationType="LessEqual" columns="MinimumTimestep|MaximumTimestep"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:development-input-datafeed" displayName="Development Input" dataScope="Scenario">
            <datasheets>
              <datasheet name="CM_DevelopmentInput" displayName="Development Input" isSingleRow="True">
                <columns>
                  <column name="DevelopmentInputID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="ZoneOfInfluenceBufferWidthDev" dataType="Integer" displayName="Zone of influence buffer width (m): developments:" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="ZoneOfInfluenceBufferWidthRoads" dataType="Integer" displayName="Zone of influence buffer width (m): roads:" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="HarvestZoneBufferWidthRoadsAndDev" dataType="Integer" displayName="Harvest zone buffer width (m):  developments and roads:" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="NumNewDev" dataType="Integer" displayName="Number of new developments" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MinimumNewDevRadius" dataType="Integer" displayName="Minimum new development radius (m)" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumNewDevRadius" dataType="Integer" displayName="Maximum new development radius (m)" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="NearRadiusFromExistingDev" dataType="Integer" displayName="Near radius from existing developments (km)" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="FarRadiusFromExistingDev" dataType="Integer" displayName="Far radius from existing developments (km)" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="RelProbOutsideNearRadius" dataType="Double" displayName="Relative probability of development outside of near radius" validationType="Decimal" validationCondition="Greater" formula1="0.0"/>
                  <column name="RelProbOutsideFarRadius" dataType="Double" displayName="Relative probability of development outside of far radius" validationType="Decimal" validationCondition="Greater" formula1="0.0"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:spatial-files-datafeed" displayName="Spatial Files" dataScope="Scenario">
            <datasheets>
              <datasheet name="CM_SpatialFiles" displayName="Spatial Files" isSingleRow="True">
                <columns>
                  <column name="SpatialFilesID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="CollarDataFile" dataType="String" isExternalFile="True"/>
                  <column name="ExistingStratumLabelZShapeFile" dataType="String" isExternalFile="True"/>
                  <column name="ExistingStratumLabelZShapeFileShx" dataType="String" isExternalFile="True"/>
                  <column name="ExistingStratumLabelZShapeFileDbf" dataType="String" isExternalFile="True"/>
                  <column name="ExistingStratumLabelZShapeFilePrj" dataType="String" isExternalFile="True"/>
                  <column name="ExistingRoadsShapeFile" dataType="String" isExternalFile="True"/>
                  <column name="ExistingRoadsShapeFileShx" dataType="String" isExternalFile="True"/>
                  <column name="ExistingRoadsShapeFileDbf" dataType="String" isExternalFile="True"/>
                  <column name="ExistingRoadsShapeFilePrj" dataType="String" isExternalFile="True"/>
                  <column name="StratumLabelXRasterFile" dataType="String" isExternalFile="True"/>
                  <column name="StratumLabelYShapeFile" dataType="String" isExternalFile="True"/>
                  <column name="StratumLabelYShapeFileShx" dataType="String" isExternalFile="True"/>
                  <column name="StratumLabelYShapeFileDbf" dataType="String" isExternalFile="True"/>
                  <column name="StratumLabelYShapeFilePrj" dataType="String" isExternalFile="True"/>
                  <column name="HarvestZoneShapeFile" dataType="String" isExternalFile="True"/>
                  <column name="HarvestZoneShapeFileShx" dataType="String" isExternalFile="True"/>
                  <column name="HarvestZoneShapeFileDbf" dataType="String" isExternalFile="True"/>
                  <column name="HarvestZoneShapeFilePrj" dataType="String" isExternalFile="True"/>
                  <column name="RangeAssessmentAreaShapeFile" dataType="String" isExternalFile="True"/>
                  <column name="RangeAssessmentAreaShapeFileShx" dataType="String" isExternalFile="True"/>
                  <column name="RangeAssessmentAreaShapeFileDbf" dataType="String" isExternalFile="True"/>
                  <column name="RangeAssessmentAreaShapeFilePrj" dataType="String" isExternalFile="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:output-options-datafeed" displayName="Output Options" dataScope="Scenario">
            <datasheets>
              <datasheet name="CM_OutputOptions" displayName="CM Output Options" isSingleRow="True">
                <columns>
                  <column name="OutputOptionsID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="DevAndRoads" dataType="Boolean"/>
                  <column name="ZoneOfInfluence" dataType="Boolean"/>
                  <column name="HarvestZone" dataType="Boolean"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="carmove:output-location-datafeed" displayName="Location" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="CM_OutputLocation" displayName="Location">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="JulianDay" dataType="Integer" displayName="Julian Day" isCompositeIndex="True"/>
                  <column name="StratumID" displayName="Stratum" dataType="Integer" validationType="Datasheet" formula1="CM_Stratum" isCompositeIndex="True"/>
                  <column name="HarvestZone" dataType="Boolean" displayName="Harvest Zone"/>
                  <column name="Latitude" dataType="Double"/>
                  <column name="Longitude" dataType="Double"/>
                  <column name="OutOfBounds" dataType="Boolean" displayName="Out of Bounds"/>
                  <column name="DistanceFromPrevious" dataType="Double" displayName="Distance from Previous"/>
                  <column name="RelationToZOI" dataType="String" displayName="Relation To Zone of Influence"/>
                  <column name="RangeAssessmentArea" dataType="String" displayName="Range Assessment Area"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer name="carmove:location-report" displayName="Location" className="SyncroSim.CaribouMovement.LocationReport" classAssembly="SyncroSim.CaribouMovement">
      </transformer>
      <transformer name="carmove:location-map-export" displayName="Location" className="SyncroSim.CaribouMovement.LocationMap" classAssembly="SyncroSim.CaribouMovement" isFolderExport="True">
      </transformer>
      <transformer name="carmove:roads-dev-map-export" displayName="Roads and development" className="SyncroSim.CaribouMovement.RoadsDevMap" classAssembly="SyncroSim.CaribouMovement" isFolderExport="True">
      </transformer>
      <transformer name="carmove:zoi-map-export" displayName="Zone of influence" className="SyncroSim.CaribouMovement.ZOIMap" classAssembly="SyncroSim.CaribouMovement" isFolderExport="True">
      </transformer>
      <transformer name="carmove:harvest-zone-map-export" displayName="Harvest Zone" className="SyncroSim.CaribouMovement.HarvestZoneMap" classAssembly="SyncroSim.CaribouMovement" isFolderExport="True">
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds">
        <item name="system:sysfolder-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:multiprocessing-datafeed"/>
        <item name="system:option-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds">
        <item name="carmove:stratum-datafeed"/>
        <item name="carmove:stratum-label-x-datafeed"/>
        <item name="carmove:stratum-label-y-datafeed"/>
        <item name="carmove:stratum-label-z-datafeed"/>
        <item name="carmove:terminology-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds">
        <item name="carmove:run-control-datafeed"/>
        <item name="carmove:development-input-datafeed"/>
        <item name="carmove:spatial-files-datafeed"/>
        <item name="carmove:output-options-datafeed"/>
      </layout>
      <layout name="system-forms:result-transformers">
        <item name="stime:maps"/>
        <group name="Export">
          <group name="Reports">
            <item name="carmove:location-report"/>
          </group>
          <group name="Maps">
            <item name="carmove:location-map-export"/>
            <item name="carmove:roads-dev-map-export"/>
            <item name="carmove:zoi-map-export"/>
            <item name="carmove:harvest-zone-map-export"/>
          </group>
        </group>
      </layout>
      <layout name="stime:maps" configurationSheet="CM_RunControl" vectorDisplay="True">
        <item name="roads_dev" displayName="Roads and Development"/>
        <item name="zoi" displayName="Zone of Influence"/>
        <item name="harvest_zone" displayName="Harvest Zone"/>
      </layout>
    </layouts>
    <visualizers>
      <visualizer name="carmove:run-control-datafeed-visualizer" target="carmove:run-control-datafeed" className="SyncroSim.CaribouMovement.RunControlDataFeedView" classAssembly="SyncroSim.CaribouMovement"/>
      <visualizer name="carmove:development-input-datafeed-visualizer" target="carmove:development-input-datafeed" className="SyncroSim.CaribouMovement.DevelopmentInputDataFeedView" classAssembly="SyncroSim.CaribouMovement"/>
      <visualizer name="carmove:spatial-files-datafeed-visualizer" target="carmove:spatial-files-datafeed" className="SyncroSim.CaribouMovement.SpatialFilesDataFeedView" classAssembly="SyncroSim.CaribouMovement"/>
      <visualizer name="carmove:output-options-datafeed-visualizer" target="carmove:output-options-datafeed" className="SyncroSim.CaribouMovement.OutputOptionsDataFeedView" classAssembly="SyncroSim.CaribouMovement"/>
    </visualizers>    
    <updateProvider 
      schemaVersion="1" 
      schemaVersionTableName="CM_Version" 
      minimumModuleVersion="1.0.0" 
      className="SyncroSim.CaribouMovement.CMUpdates" 
      classAssembly="SyncroSim.CaribouMovement"/> 
  </module>
</configuration>
